<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="SuiteOne"  >

<test name="SwoopTests" >
    <groups>
        <run>
            <include name="Regression1"/>
            <include name="Regression2"/>
        </run>
    </groups>


    <classes>
        <class name="MainPage" >
            <methods>
                <include name="first" />
                <include name="second"/>
                <include name="third" />
            </methods>
        </class>
    </classes>
</test>
</suite>
